@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,700,400,600,300,500&display=swap");

:root {
    --bold: #242438;
    --medium: #2f2f44;
    --regular: #545870;
    --light: #d8d9e3;
}

body {
    background-color: var(--bold);
    color: var(--light);
    font-family: 'Clash Grotesk', sans-serif;
}

button {
    position: relative;
    background-color: var(--medium);
    margin: 20px;
    top: 300px;
    border: 0px;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    color: var(--light);
}

button:hover {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--light);
    color: var(--medium);
}

button:hover #svgcolor {
    fill: var(--medium) !important;
  }

.banner {
    position: absolute; 
    background: url(../img/banner.gif);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    height: 300px;
    width: 100%;
    left: 0;
    top: 0;
}

.container {
    position: absolute;
    left: 50%;
    width: 1850px;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.avatar {
    position: absolute;
    width: 200px;
    top: 51px;
    right: 55%;
    z-index: -1;
    box-shadow: 1px 1px 30px 10px #000;
    border-radius: 100%;
}

.avatar-text {
    position: absolute;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 1px 1px 30px #000;
    right: 37.72%;
    font-style: italic;
    top: 105px;
    z-index: -1;
    font-size: 30px;
}

.alink {
    color: var(--regular);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.alink:hover {
    color: rgb(187, 161, 207);
}

.socialmedia-name {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
}

.socialmedia-desc {
    position: absolute;
    right: 15px;
    font-size: 12px;
}

.svg {
    position: absolute;
    left: 10px;
    top: 10px;
}

#svgcolor {
    fill: var(--light);
}

.social-media {
    display: block;
    padding: 20px;
}

.aboutme {
    position: absolute;
    background-color: var(--medium);
    border-radius: 10px;
    padding: 10px;
    top: 348px;
    left: 400px;
    height: 270px;
    width: 76%;
}

.aboutme-name {
    position: absolute;
    left: 37px;
    top: 37px;
    font-weight: 600;
    font-size: 30px;
}

.aboutme-desc {
    position: absolute;
    left: 15px;
    padding: 10px;
    top: 120px;
    font-size: 20px;
}
